In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import time
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB, BernoulliNB, MultinomialNB

# Importing dataset
fake_data = pd.read_csv("fake.csv")
true_data = pd.read_csv("true.csv")

In [3]:
#Load Fake and True datasets
fake_df=pd.DataFrame(fake_data)
true_df=pd.DataFrame(true_data)
#fake_df
#true_df

In [4]:
#Insert a categorical value for Fake (0) or Real (1)
fake_df['Fake'] = '0'
true_df['Fake'] = '1'

In [5]:
#Combine Data
combined=pd.concat([fake_df, true_df])
combined

,title,text,subject,date,Fake
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
...,...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [6]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/tosveena/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [7]:
from nltk import word_tokenize
from nltk.corpus import stopwords
import string

# nltk_tokens = nltk.word_tokenize(combined['text'])
# word_tokenize(combined['text'])
# word_tokenize('hello world')
stopword=stopwords.words('english')
punctuations=list(string.punctuation)
tokenized_list=[]
for each_row in combined['text']:
    word_tokens=word_tokenize(each_row)
    removing_punc=[word for word in word_tokens if word not in punctuations]
    removing_stopwords=[word for word in removing_punc if word not in stopword]
    tokenized_list.append(' '.join(removing_stopwords))

In [8]:
# from sklearn.feature_extraction.text import CountVectorizer
# vectorizer=CountVectorizer()
# bag_of_words=vectorizer.fit_transform(combined['text'])
# feature_names=vectorizer.get_feature_names()
# bow_df=pd.DataFrame(bag_of_words.toarray(), columns=feature_names)
# bow_df

from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer=TfidfVectorizer()
vectorizer.fit(tokenized_list)
# need to save this vectorizer to process the inputs
x=vectorizer.transform(tokenized_list)
x

<44898x121997 sparse matrix of type '<class 'numpy.float64'>'
	with 7750263 stored elements in Compressed Sparse Row format>

In [52]:
feature_names=vectorizer.get_feature_names()
len(feature_names)

121997

In [9]:
y=combined['Fake']

In [10]:
from sklearn.model_selection import train_test_split

In [ ]:
from sklearn.naive_bayes import GaussianNB
x_train, x_test, y_train, y_test=train_test_split(x.toarray(), y)
gnb=GaussianNB()
gnb.fit(x_train, y_train)
gnb.score(x_test, y_test)

In [56]:
test_sample=vectorizer.transform(['hi my name is Donald Trump'])
model.predict(test_sample)

<1x121997 sparse matrix of type '<class 'numpy.float64'>'
	with 6 stored elements in Compressed Sparse Row format>

In [18]:
sample=bow_df.iloc[-1,:]
sample

00                 0
000                0
0000               0
00000017           0
00004              0
                  ..
zzuml4hkoc         0
zzzzaaaacccchhh    0
zzzzzzzz           0
zzzzzzzzzzzzz      0
émigré             0
Name: 44897, Length: 122002, dtype: int64

In [39]:
pd.set_option('display.max_rows', None)
print(sample[sample != 0].sort_values(ascending=False))

to              9
in              8
of              6
and             5
the             5
indonesia       4
is              4
trade           3
said            3
russia          3
commodities     3
indonesian      3
million         2
minister        2
aviation        2
oil             2
expected        2
palm            2
worth           2
its             2
cash            2
fighter         2
for             2
southeast       2
state           2
be              2
jets            2
had             2
with            2
trying          2
which           2
two             2
expand          1
ageing          1
economy         1
education       1
energy          1
enggartiasto    1
after           1
european        1
exchange        1
exports         1
addition        1
being           1
accidents       1
facing          1
570             1
411             1
35              1
2016            1
14              1
finalised       1
force           1
details         1
asian           1
air             1
defence         1
between         1
asia            1
bilateral       1
billion         1
are             1
buy             1
by              1
cabinet         1
among           1
amid            1
coffee          1
from            1
also            1
company         1
conglomerate    1
consumption     1
cooperation     1
could           1
countries       1
country         1
currently       1
cut             1
deal            1
delivered       1
years           1
has             1
ryamizard       1
ship            1
soon            1
stages          1
starting        1
statement       1
still           1
string          1
su              1
suhkoi          1
sukhoi          1
surplus         1
tea             1
technology      1
that            1
threats         1
tourism         1
trading         1
tuesday         1
type            1
union           1
up              1
volume          1
wants           1
were            1
will            1
sanctions       1
ryacudu         1
he              1
russian         1
imposed         1
include         1
jakarta         1
joint           1
largest         1
lukita          1
meanwhile       1
military        1
ministers       1
modernize       1
negotiated      1
new             1
on              1
others          1
pay             1
perdangangan    1
perusahaan      1
pledged         1
previously      1
products        1
promote         1
pt              1
reuters         1
rostec          1
round           1
11              1
Name: 44897, dtype: int64

In [28]:
combined.iloc[-1,:]['text']

'JAKARTA (Reuters) - Indonesia will buy 11 Sukhoi fighter jets worth $1.14 billion from Russia in exchange for cash and Indonesian commodities, two cabinet ministers said on Tuesday. The Southeast Asian country has pledged to ship up to $570 million worth of commodities in addition to cash to pay for the Suhkoi SU-35 fighter jets, which are expected to be delivered in stages starting in two years. Indonesian Trade Minister Enggartiasto Lukita said in a joint statement with Defence Minister Ryamizard Ryacudu that details of the type and volume of commodities were  still being negotiated . Previously he had said the exports could include palm oil, tea, and coffee. The deal is expected to be finalised soon between Indonesian state trading company PT Perusahaan Perdangangan Indonesia and Russian state conglomerate Rostec. Russia is currently facing a new round of U.S.-imposed trade sanctions. Meanwhile, Southeast Asia s largest economy is trying to promote its palm oil products amid threats of a cut in consumption by European Union countries. Indonesia is also trying to modernize its ageing air force after a string of military aviation accidents. Indonesia, which had a $411 million trade surplus with Russia in 2016, wants to expand bilateral cooperation in tourism, education, energy, technology and aviation among others. '